<a href="https://colab.research.google.com/github/hoangnuthuphuong/python_bosung/blob/main/phien2_ngay15_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TUPLES

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

In [ ]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)

In [ ]:
tup1 = (1, 2, 3, 4, 5, 6, 7 , 'hi')
print(len(tup1))
print((2, 3) + (4, 5, 6))
print(("Hello!") * 3)
for x in (1, 2, 3):
   print(x)
"phuong" in (1, 2, 3, 4, 5, 6, 7 , 'hi')

In [ ]:
T = ("Red", "Yellow", "Green")
print("phần tử thứ 3 của tuples: ",T[2])
print("phần tử thứ 2 từ phải qua của tuples: ",T[-2]) 
print("từ phần tử thứ 2 đến hết tuples: ",T[1:])

In [ ]:
T = (4, 9, 6, 5, 2, 8, 7)

print("Tổng = ", sum(T))
print("Min = ",min(T))
print("Max = ",max(T))
print("Len= ",len(T))

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7 ]
tuple(list1)

#DICTIONARY

In [ ]:
D = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("Dict['Name']: ", D['Name'])
print("Dict['Age']: ", D['Age'])

In [ ]:
D = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
D['Age'] = 8; # update existing entry
D['School'] = "DPS School"; # Add new entry
print("Dict['Age']: ", D['Age'])
print("Dict['School']: ", D['School'])

In [ ]:
D = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del D['Name'] 
print(D)

In [ ]:
D = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict.clear()
print(dict)

In [ ]:
D = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(len(D))
print(str(D))

In [ ]:
D = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("Xóa tất cả phần tử của Dictionary",D.clear())

print("Sao chép Dictionary")
D.copy() 

print ("Giá trị của key 'Name' la: ", D.get('Name'))

print("Kiểm tra dictionary có key như trong tham số hay không")
print("Age" in D)

D2 = {'P': 'Phuong'}
print(" Thêm D2 vào D")
print(D.update(D2))

#SET

In [ ]:
Set1 = set(["a", "b", "c"])
print("Set1: ")
print(Set1)

Set1.add("d")
print("\nSet1 after adding: ")
print(Set1)

In [ ]:
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)

people.add("Daxit")
print("\nSet after adding element:", end = " ")
print(people)

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

In [ ]:
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)

set1.clear()
print("\nSet after using clear() function")
print(set1)

In [ ]:
#phép hợp
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
# Union using union() function
population = people.union(vampires)
print("Union using union() function")
print(population)
# Union using "|" operator
population = people|dracula
print("\nUnion using '|' operator")
print(population)

In [ ]:
#phép giao
set1 = {3, 4, 5}
set2 = {3, 4, 5, 6, 7, 8}
set3 = set1.intersection(set2)
print("Giao giữa set 1 và 2 là:")
print(set3)

set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)

In [ ]:
#phép hiệu
set1 = {3, 4, 5, 9}
set2 = {3, 4, 5, 6, 7, 8}

set3 = set1.difference(set2)
print(" Phần tử của set 1 khác set 2 là")
print(set3)
# Difference of two sets using '-' operator
set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)

In [ ]:
#kiểm tra tập con
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

# DATE & TIME

In [ ]:
#xem thời gian hiện tại
import time
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
#Number of ticks since 12:00am, January 1, 1970: 7186862.73399
localtime = time.localtime(time.time())
print("Local current time :", localtime)

In [ ]:
#định dạnh thời gian
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

In [ ]:
#Lịch
import calendar
cal = calendar.month(2003, 9)
print("Tháng Thu Phương sinh ra nè he:")
print(cal)