<a href="https://colab.research.google.com/github/hoangnuthuphuong/python_bosung/blob/main/phien1_ngay15_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
print("Phần tử thứ 2 của list là : ")
print(list1[2])
list1[2] = 2001
print("Phần tử thứ 2 mới của list là : ")
print(list1[2])

In [ ]:
list2 = [1, 2, 3, 4, 5, 6, 7 , 'hi']
len(list2)

In [ ]:
[2, 3] + [4, 5, 6]

In [ ]:
["phuong cute!"] * 3

In [ ]:
"phuong" in [1, 2, 3, 4, 5, 6, 7 , 'hi']

In [ ]:
for x in [1, 2, 3]: print(x)

In [ ]:
L = ["Red", "Yellow", "Green"]
print("phần tử thứ 3 của list: ",L[2])
print("phần tử thứ 2 từ phải qua của list: ",L[-2]) 
print("từ phần tử thứ 2 đến hết list: ",L[1:])

In [ ]:
list1 = [ 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print("Tổng số các phần tử của list1: ",len(list1))
print("Trả về phần tử của list1 có giá trị lớn nhất",max(list1))
print("Trả về phần tử của list1 có giá trị nhỏ nhất",min(list1))

In [ ]:
list1 = [ 1, 2, 3, 4, 5, 6, 7 , 1997, 2000]

print("Thêm phần tử 50 vào List")
list1.append(50) 
print(list1)

print("Đếm số lần 50 xuất hiện trong List")
list1.count(50) 
print(list1)

print("Lấy vị trí xuất hiện đầu tiên trong List (chỉ số thấp nhất) của 1777")
list1.index(1997) 
print(list1)

print("Chèn 2000 vào List ở vị trí 1")
list1.insert(1, 2000) 
print(list1)

print("Xóa 5 khỏi List")
list1.remove(5) 
print(list1)